{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Country</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idcountry</th>
                <td>{{ entity.idcountry }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('country') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('country_edit', { 'id': entity.idcountry }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
