{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Offer list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idoffer</th>
                <th>Discount</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('offer_show', { 'id': entity.idoffer }) }}">{{ entity.idoffer }}</a></td>
                <td>{{ entity.discount }}</td>
                <td>{% if entity.startdate %}{{ entity.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.enddate %}{{ entity.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('offer_show', { 'id': entity.idoffer }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('offer_edit', { 'id': entity.idoffer }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('offer_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
