{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Facility</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idfacility</th>
                <td>{{ entity.idfacility }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('facility') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('facility_edit', { 'id': entity.idfacility }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
