{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Room list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idroom</th>
                <th>Number</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('room_show', { 'id': entity.idroom }) }}">{{ entity.idroom }}</a></td>
                <td>{{ entity.number }}</td>
                <td>{{ entity.price }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('room_show', { 'id': entity.idroom }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('room_edit', { 'id': entity.idroom }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('room_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
