{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Room</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idroom</th>
                <td>{{ entity.idroom }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('room') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('room_edit', { 'id': entity.idroom }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
