{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Image</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idimage</th>
                <td>{{ entity.idimage }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('image') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('image_edit', { 'id': entity.idimage }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
