{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hotel</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idhotel</th>
                <td>{{ entity.idhotel }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Numberofstars</th>
                <td>{{ entity.numberofstars }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('hotel') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('hotel_edit', { 'id': entity.idhotel }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
