{%extends "AppBundle:admin:indexAdmin.html.twig"%}

{% block container -%}
<div class="descriptionArea">
<h1>Reservation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.checkinDate %}{{ entity.checkinDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.checkoutDate %}{{ entity.checkoutDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reservation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reservation_new') }}">
                Create a new entry
            </a>
        </li>
        <li>
            <a href="{{ path('reservationstatus') }}">
                Go to Reservation Statuses
            </a>
        </li>
    </ul>
</div>    
    {% endblock %}
