{%extends "AppBundle:admin:indexAdmin.html.twig"%}

{% block container -%}
<div class="descriptionArea">
 <h1>Reservation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Check-in date</th>
                <td>{{ entity.checkinDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Check-out date</th>
                <td>{{ entity.checkoutDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reservation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reservation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>   
{% endblock %}
