{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reservation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idreservation</th>
                <td>{{ entity.idreservation }}</td>
            </tr>
            <tr>
                <th>Checkindate</th>
                <td>{{ entity.checkindate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Checkoutdate</th>
                <td>{{ entity.checkoutdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Iscanceled</th>
                <td>{{ entity.iscanceled }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reservation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reservation_edit', { 'id': entity.idreservation }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
