{%extends "AppBundle:admin:indexAdmin.html.twig"%}

{% block container -%}
<div class="descriptionArea">
<h1>Room list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Price Per Night</th>
                <th>Has Wireless</th>
                <th>Has Air Conditioning</th>
                <th>Has TV</th>
                <th>Has Minibar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('room_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.number }}</td>
                <td>{{ entity.pricePerNight }}</td>
                <td>
                {% if entity.hasWireless == 1%}
                YES
                {% else %}
                NO
                {% endif %}
                </td>
                <td>
                {% if entity.hasAirConditioning == 1%}
                YES
                {% else %}
                NO
                {% endif %}
                </td>
               <td>
                {% if entity.hasTV == 1%}
                YES
                {% else %}
                NO
                {% endif %}
                </td>
                <td>
                {% if entity.hasMinibar == 1%}
                YES
                {% else %}
                NO
                {% endif %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('room_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('room_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('room_new') }}">
                Create a new entry
            </a>
        </li>
        
        <li>
            <a href="{{ path('roomtype') }}">
                Go to Room Types
            </a>
        </li>
    </ul>
</div>
{% endblock %}
