{%extends "AppBundle:admin:indexAdmin.html.twig"%}

{% block container -%}
<div class="descriptionArea">
<h1>Room</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Price Per Night</th>
                <td>{{ entity.pricePerNight }}</td>
            </tr>
            <tr>
                <th>Has Wireless</th>
                <td>
                {% if entity.hasWireless == 1%}
                YES
                {% else %}
                NO
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Has Air Conditioning</th>
                <td>
                {% if entity.hasAirConditioning == 1%}
                YES
                {% else %}
                NO
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Has TV</th>
                <td>
                {% if entity.hasTV == 1%}
                YES
                {% else %}
                NO
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Has Minibar</th>
                <td>
                {% if entity.hasMinibar == 1%}
                YES
                {% else %}
                NO
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('room') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('room_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
